<%- await include("partials/header.ejs", { title: "Resume" }) %>

<% const resume = await content("resume.json", locale); %>

<main class="main main--resume">
    <div class="main--resume__split_hero">
        <div>
            <h3><%- resume.blurbs.about.title %></h3>
            <p>
                <%- resume.blurbs.about.text %>
            </p>
        </div>

        <div>
            <h3><%- resume.blurbs.skills.title %></h3>
            <p>
                <%- resume.blurbs.skills.text %>
            </p>
        </div>
    </div>

    <div class="main--resume__experience">
        <h3><%- resume.blurbs.experience %></h3>

        <ul class="main--resume__experience__list">
            <% for (const entry of resume.experience) { %>
                <li>
                    <header>
                        <h4><%- entry.title %></h4>
                        <div><div></div></div>
                        <time><%- entry.time %></time>
                    </header>
    
                    <ul>
                        <% for (const point of entry.points) { %>
                            <li><%- point %></li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
    </div>

    <div class="main--resume__education">
        <h3>Education</h3>
    
        <ul class="main--resume__education__list">
            <li>
                <header>
                    <h4>McGill University</h4>
                    <div><div></div></div>
                    <time>2022 - 2025</time>
                </header>

                <ul>
                    <li>Obtaining a B.Sc. in Computer Science.</li>
                </ul>
            </li>
        </ul>
    </div>
</main>

<%- await include("partials/footer.ejs") %>
